<h2>Seahawk City Events</h2><br>

  <%= render 'partials/flash' %>
<div class="row">
<div class="col-xs-12 col-sm-12, col-md-12">
<div class="table-responsive">
<table class="table">
<% @events.each do |event| %>
  <tr>
    <td class="tableRow"><%= event.name %></td>
    <td class="tableImg"><%= cl_image_tag(event.photo_url, :width => 125, :height => 125, :crop => :fill) %></td></span>
  </tr>
<% end %>

</table>
</div>
</div>
</div>
