<div class="row text-center">
<div class="col-xs-12 col-md-12 col-lg-12">
<h2>This page doesn't exist, try a valid route. <br>
GO HAWKS!!!!!!!!!!!!
</h2>

<%= image_tag("matchup.jpg", :class => "cloudImg") %>
</div>
</div>