<h2>About Seahawk City </h2>
<div class="row">
  <%= render 'partials/flash' %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div id="twelfth" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#twelfth" data-slide-to="0" class="active"></li>
    <li data-target="#twelfth" data-slide-to="1"></li>
    <li data-target="#twelfth" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("skyline.jpg", :alt => "west seattle blog 12th man") %>
      <div class="sliderCap">
           <span class="carousel-caption row-fluid">
      <h2>Welcome to Seahawk City.<br>
      <small>Geo-caching game for 12th man fans. Capture the flag, and share it here.</small> </h2>
      <a class="btn btn-primary pull-right" href="/">I'm In!</a>
   </span>
      </div>
    </div>
    <div class="item">

       <%= image_tag("12thman.JPG", :alt => "12th man") %>
      <div class="sliderCap">
           <span class="carousel-caption row-fluid">
      <h2>"Where my twelves?"<br>
      <small>Add your 12th man party or event.</small> </h2>
      <a class="btn btn-primary pull-right" href="/">I'm In!</a>
   </span>
      </div>
    </div>
    <div class="item">

       <%= image_tag("people.jpg", :alt => "people flag") %>
       <div class="sliderCap">
           <span class="carousel-caption row-fluid">
      <h2>Find your kind.<br>
      <small>Celebrate Seattle and your fellow twelves!</small> </h2>
      <a class="btn btn-primary pull-right" href="/">I'm In!</a>
   </span>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#twelfth" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#twelfth" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
<script>
    $('.carousel').carousel({
        interval: 4000
    })
</script>

</div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">
    <h2>Welcome to Seahawk City <br> Home of the Twelves!  </h2>

<p>The city’s abuzz as our defending Superbowl Champions, the Seattle Seahawks, take on the New England Patriots in what is anticipated to be an epic Superbowl battle: Superbowl XLIX. </p>

<p>Everywhere you turn, down every dark alley, around every corner, the spirit of the loudest crowd of fans on the planet can be seen and heard.  Blue, grey and green jerseys parade through the streets as the city unite to bring their team to victory.</p>

<p>It is in this spirit of civic pride that we introduce a challenge to all the Hawks fans across the planet with a little game of Capture the Flag: more specifically the infamous 12th Man Flag!  </p>

  </div>
</div>