<h2>Team 12</h2>
<div class="row">
    <div class="col-md-4 col-md-offset-1">

    <%= image_tag("paul.jpg", :class => "team") %>
    </div>
    <div class="col-md-4 col-md-offset-1 text-left">
    <h3>Paul Howard</h3>
    <p>Link to github and to linked in</p>
    <p>Marfa High Life actually keytar Bushwick. Craft beer XOXO Williamsburg artisan, Truffaut tofu Banksy pickled High Life distillery.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1">
    <%= image_tag("steve.jpg", :class => "team") %>

    </div>
    <div class="col-md-4 col-md-offset-1 text-left">
    <h3>Steve Woolsey</h3>
    <p>Link to github and to linked in</p>
    <p>Marfa High Life actually keytar Bushwick. Craft beer XOXO Williamsburg artisan, Truffaut tofu Banksy pickled High Life distillery.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1">

    <%= image_tag("Wyo.jpg", :class => "team") %>
    </div>
    <div class="col-md-4 col-md-offset-1 text-left">
    <h3>Wyoming Telford</h3>
    <p>Link to github and to linked in</p>
    <p>Marfa High Life actually keytar Bushwick. Craft beer XOXO Williamsburg artisan, Truffaut tofu Banksy pickled High Life distillery.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1">
    <%= image_tag("levi.jpg", :class => "team") %>

    </div>
    <div class="col-md-4 col-md-offset-1 text-left">
    <h3>Levi Ross</h3>
    <p>Link to github and to linked in</p>
    <p>Marfa High Life actually keytar Bushwick. Craft beer XOXO Williamsburg artisan, Truffaut tofu Banksy pickled High Life distillery.</p>
    </div>
</div>