<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Seahawk City Home Page (site#index)</h1>
      <% if @current_user %>
        <p>Current User: <%= @current_user.user_name %> </p>
        <%= button_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %>
      <% else %>
        <%= link_to "Login", login_path, :class => "btn btn-primary" %> 
        <%= link_to "Sign Up", signup_path %> 
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <br><p>To do:</p>
      <ul>
        <li>Wire up current user display to profile route</li>
        <li>Create fake marker data</li>
        <li>Display fake marker data</li>
        <li>Wire up fake marker data to location route</li>
        <li>Create fake event data</li>
        <li>Display fake event data</li>
        <li>Wire up fake event data to event route</li>
        <li>Create "Checkin" button</li>
        <li>Wire up "Checkin" button to new_checkin route</li>
      </ul>
    </div>
  </div>
</div>

