/*  seahawks hex and rgb values
silver = #A5ACAF (165,172,175)
green = #69BE28(105,190,40)
navy = #002244(0,34,68)
*/

body{
    font-family: 'Play', sans-serif;
}
h1, h2, h3 {
    color: #002244;
}
.h1, a{
    color: #002244;
}
.h1, a:hover{
    color: #A5ACAF;
}
h1 small {
    color: #A5ACAF;
}
.btn.btn-primary{
    background-color: #69BE28;
    color:#fff;
}

a:link{
    color:#002244;
}
a:hover{
    color:#A5ACAF !important;
}

a:visited{
    color:#002244;
}



ul {
    list-style-type: none;
}

.footer{
    float:clear !important;
    bottom: 0;
/*    position: absolute;*/
    width: 100%;
    height: 50px;
    margin-top: 40px;
    color: #002244;
}
