<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>New Check-in Page</h1>
      <hr>
      <h3>Upload Image</h3>
      <%= bootstrap_form_for :checkin do |f| %> 
        <input type="file" accept="image/*" capture="camera">
      <% end %> 
      <hr>
      <h4>Dev Notes</h4>
      <ul>
        <li>Not 100% sure EXACTLY what this process looks like yet.</li>
        <li>But it's critical that we get this part right.</li>
      </ul>
      
    </div>
  </div>
</div>
