
  <div class="row">
    <%= render 'partials/flash' %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Location Detail</h2>
      <hr>
        <ul>
          <li>Name:</li>
          <li>Address:</li>
          <li>Description:</li>
        </ul>
      <hr>
      <h4>Dev Notes</h4>
      <ul>
        <li>Should show a mini-map centered on location</li>
        <li>Should show all pertinent location details</li>
        <li>Should show an edit button if current_user is owner</li>
        <li>Should highlight next scheduled event, and list others</li>
        <li>Should show a list/grid of checkins/thumbnails, along with total count</li>
        <li>Maybe: Include list of nearby/similar locations?</li>
      </ul>
    </div>
  </div>
</div>